.venv/
__pycache__/
*.pyc
.pytest_cache/
*:Zone.Identifier
*Zone.Identifier
artifacts/*.pkl
.ipynb_checkpoints/
artifacts/label_flags.csv
reports/*.aux
reports/*.log
reports/*.fls
reports/*.fdb_latexmk
reports/*.out
reports/*.synctex.gz
